header{
    background-color:rgb(0, 0, 0);
    height:70px;
    width:100%;
    position:fixed;
    z-index:100;
}
header p{
    font-family:"Franklin Gothic Medium";
    line-height: 70px;
    vertical-align:middle;
    padding-right:20px;
    color:#fff;
    font-size:24px;
    position:relative;
    left:20px;
    float:left;
}
.github{
    float:right;
    width:70px;
    position:relative;
    bottom:0px;
}
.twitter{
    width:70px;
    float:right;
}
.naka{
    background-color:rgb(0, 0, 0);
    width:100%;
    height:3000px;
}
footer{
    background-color:rgb(10,10,10);
    height:100px;
    width:100%;
}
footer p{
    text-align:center;
    color:rgb(0,0,0);
}
*{
    margin:0px;
    padding:0px;
}
.kame{
    width:70px;
    height:70px;
    float:left;
}
.he{
    background-color:black;
}
.hello{
    font-family:sans-serif;
    font-size: 20vw;
    position:relative;
    font-weight:700;
    top:100px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: url('./rawpixel-652643-unsplash.jpg');
    -webkit-background-clip: text;/*テキストでマスク*/
    background-clip: text;
    text-align: center; 
}
.jp{
    width:100%;
    background-color:black;
    position:10%;
}
.jpmap{
    position:relative;
    width:40%;
    float:right;
    position:relative;
    padding-top:20%;
}
.live{
    font-size:5vw;
    padding-top:25%;
    padding-left:5%;
    color:rgb(241, 148, 218);
}
.pos{
    width:20px;
    position:relative;
    left:73%;
    padding-bottom:20%;
}
.jpan{
    color:rgb(0, 0, 0);
    font-size:10vw;
    font-weight:900;
    padding-top:5%;
    padding-left:20%;
    background: url('./jpn.png');
    background-size:50%;
    background-position-x:230px;
    background-position-y:10px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;/*テキストでマスク*/
    background-clip: text;
}
.of{
    color:#fff;
    font-size:5vw;
    position:relative;
    left:15%;
}
.me{
    padding-left:10%;
    color:rgb(236, 233, 35);
    position:relative;
    font-size:5vw;
    padding-left:7%;
}
.school{
    position:relative;
    top:10px;
    padding-left:7%;
    font-weight:700;
    font-size:8vw;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: url('./bryce-evans-202178-unsplash.jpg');
    -webkit-background-clip: text;/*テキストでマスク*/
    background-clip: text;
}
.sch{
    background-color:black;
}
.twit{
    position:relative;
    top:100px;
}
.six{
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: url('./christopher-burns-369659-unsplash.jpg');
    -webkit-background-clip: text;/*テキストでマスク*/
    background-clip: text;
    font-weight:900;
    font-size:15vw;
    text-align:center;
}
.have{
    color:rgb(72, 198, 236);
    font-size:8vw;
    position:relative;
    top:10px;
    padding-left:15%;
}
.foll{
    color:rgb(0, 155, 155);
    font-size:8vw;
    position:relative;
    top:-30px;
    padding-left:50%;
}