header{
    background-color:rgb(0, 0, 0);
    height:70px;
    width:100%;
    position:fixed;
    z-index:100;
}
header p{
    font-family:"Franklin Gothic Medium";
    line-height: 70px;
    vertical-align:middle;
    padding-right:20px;
    color:#fff;
    font-size:24px;
    position:relative;
    left:20px;
    float:left;
}
.github{
    float:right;
    width:70px;
    position:relative;
    bottom:0px;
}
.twitter{
    width:70px;
    float:right;
}
.naka{
    background-color:rgb(0, 0, 0);
    width:100%;
    height:1500px;
}
footer{
    background-color:rgb(10,10,10);
    height:100px;
    width:100%;
}
footer p{
    text-align:center;
    color:rgb(0,0,0);
}
*{
    margin:0px;
    padding:0px;
}
.kame{
    width:70px;
    height:70px;
    float:left;
}
.hello{
    font-size: 20vw;
    position:relative;
    font-weight:700;
    top:100px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: url('./rawpixel-652643-unsplash.jpg');
    -webkit-background-clip: text;/*テキストでマスク*/
    background-clip: text;
    text-align: center; 
}
.me{
    color:#fff;
    position:relative;
    top:50px;
    font-size:5vw;
}
.school{
    color:#fff;
    padding-left:10%;
    font-size:8vw;
}